<div style="position: relative" class="cal-week-box">
	<div class="cal-offset1 cal-column"></div>
	<div class="cal-offset2 cal-column"></div>
	<div class="cal-offset3 cal-column"></div>
	<div class="cal-offset4 cal-column"></div>
	<div class="cal-offset5 cal-column"></div>
	<div class="cal-offset6 cal-column"></div>
	<div class="cal-row-fluid cal-row-head">
		<% _.each(months, function(name) { %>
			<div class="cal-cell1 <%= cal._getDayClass('week', start) %>" data-toggle="tooltip" title="<%= cal._getHolidayName(start) %>"><%= name %><br>
				<small><span data-cal-date="<%= start.getFullYear() %>-<%= start.getMonthFormatted() %>-<%= start.getDateFormatted() %>" data-cal-view="day"><%= start.getDate() %> <%= cal.locale['ms' + start.getMonth()] %></span></small>
			</div>
			<% start.setDate(start.getDate() + 1); %>
		<% }) %>
	</div>
	<hr>
	<!-- hack: needs the commented out call below to set the correct events context further down -->
	<!--<%= cal._week() %>-->
	
    <!-- sort events into arrays for each day -->
    <%
        var multiDimArray = [];
    
        _.each(events, function(event) { 
            if (multiDimArray[event.start_day] == undefined) {
                multiDimArray[event.start_day] = [];
            }

            multiDimArray[event.start_day].push(event);
        });
    %>
    <%= console.dir(multiDimArray) %>
    <% _.each(multiDimArray, function(events_for_day) { %>
            <div class="cal-row-fluid cal-cell1 cal-offset<%= _.first(events_for_day).start_day %>" style="display:inline-block; width:auto; position:absolute;">
                <% if(events_for_day.length) { %>

                <ul style="padding-left: 0px; list-style-type: none;">
                    <% _.each(events_for_day, function(event){ %>
                    <li>
                        <div class="dh-<%= event['class'] %>" style="margin-bottom:5px;">
                            <div style="font-size:18px"><%= event.title %></div>
                            <%= event.description %>
                            <br /><br />
                            <%= event.startDisplay %>
                        </div>
                    </li>
                    <% }) %>
                </ul>

                <% } else  { %>
                <p>No classes today.</p>
                <% }  %>
            </div>
    <% })  %>
</div>